*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    overflow-x: hidden;
}
#wrapper{
    height: 100%;
    width: 100vw;
    display: grid;
    background-color:#F3F4F6;
   
}
.container{
    display:grid;
}
.header{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em;
    height: 20%;
    
}
li{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}
.links{
  
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.link_text{
    text-decoration: none;
    color:gray;
    font-weight: bold;
}
.logo{
    width: 60px;
    height: 50px;
    mix-blend-mode: multiply;
   
}
.btn{
    width: 150px;
    height: 30px;
    background: rgba(78, 93, 192, 1); ;
    border-radius: 5px;
    color: white;
}
.main{
    margin-top: 3em;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5em;
}
.box_img{
    mix-blend-mode:multiply;
    margin-left: 4em;
}
.text_box{
    display: grid;
    grid-template-rows: 1fr 3fr;
    margin-left: 4em;
}
h1{
    font-family: 'Roboto Flex', sans-serif;
    border-bottom: 1px solid black;
    margin-bottom: 1.6em;
    width: 35%;
    
}
.text{
    color:rgba(0, 0, 0, 1);
    font-family: 'Raleway', sans-serif;
    line-height: 34px;
    font-size: 20px;
    margin-top: -1em;
    font-weight: 700;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    padding-top: 3em;
    padding-left: 3em;
}
.column1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.column2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
.column3{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.column1 a{
    padding-top: 2em;
    letter-spacing: 2px;
}
h4{
    color:rgba(78, 93, 192, 1);
    font-weight: 700;
    letter-spacing: 2px;
}
.column2 p{
     margin-top: -20px;
     margin-bottom: 25px;
}
.column3 p{
    margin-top: -5em;
    line-height: 1.5em;
}
i{
    scale: 2;
    padding: 1em;
}










